.block-title1 {
	font-family: 'Poppins', sans-serif;
}
.block-paragraph1 {
	font-family: 'Poppins', sans-serif;
}
.block-h2 {
	font-family: 'Poppins', sans-serif;
}
.block-h3 {
	font-family: 'Poppins', sans-serif;
}
.block-down-h3 {
    font-family: "Arial GEO Bold", sans-serif;
}
.contaner-block-paragraph {
    font-family: "ALKDots", sans-serif;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.eot');
    src: url('../fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Bold.woff2') format('woff2'),
        url('../fonts/Poppins-Bold.woff') format('woff'),
        url('../fonts/Poppins-Bold.svg#Poppins-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'ALKDots';
    src: url('../fonts/alkdots-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/alkdots-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/alkdots-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/alkdots-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/alkdots-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/alkdots-webfont.svg#alkdotsregular') format('svg'); /* Legacy iOS */
}