 
                    
                       /*containers*/    
.container-block {
	width: 1088px;
	margin: 0 auto;
	margin-top: 82px;
}
.container-block2 {
	width: 1088px;
	margin: 0 auto;
	margin-top: 60px;
}

                        /*containers*/

                        /*up bloks*/
.block-title1{
    color: #5863F8;
    font-size: 14px;
    font-weight: bolder;
    margin-bottom: 17px;
}
.block-paragraph1{
    font-size: 42px;
}
.paragraph {
	color: #B1B1B1;
	font-size: 14px;
	width: 260px;
}
.left-block{
    width: 536px;
    background-color: #F8F8F8;
    display: inline-block;
    margin-right: 16px;
    margin-top: 54px;
}
.right-block{
    width: 536px;
    background-color: #BE2B2B;
    display: inline-block;
}
.text-block {
	display: inline-block;
	width: 260px;
	vertical-align: middle;
}
.image-block {
	vertical-align: middle;
	margin-right: 16px;
}
.block-h2 {
	color: #5863F8;
}
.block-h3 {
	font-size: 18px;
	margin-bottom: 12px;
}



                         /*up bloks*/

 

                         /*down blocks*/
.wraper{
    width: 352px;
    display: inline-block;
    background-color: #F8F8F8;
}
.wraper1{
    width: 352px;
    display: inline-block;
    margin-left: 16px;
    margin-right: 16px;
    background-color: #F8F8F8;
}
.wraper2{
    width: 352px;
    display: inline-block;
    background-color: #F8F8F8;
}
.wraper-text{
    width: 260px;
    margin-left:46px ;
    text-align: justify;
    vertical-align: middle;
    margin-top: 23px;
    font-family: "Poppins";
}
.wraper-image{
    vertical-align: middle;
}
.block-down-h2{
    margin-left: 50px;
    margin-bottom: 14px;
    color: #5863F8;
    font-weight: bold;

}
.block-down-h3{

       /*margin-bottom: 16px;*/
       font-size: 15px;

}
.contaner-block-h3{

     margin-bottom: 10px;
     font-size: 20px;
     color: #5863F8;

}
.contaner-block-paragraph{

    margin-bottom: 69px;
    font-size: 42px;
    font-weight: bold;

}
.dabla-paragraph{
    color: #5898F8;
    font-weight: bolder;
}
.button{
    display: inline-block;
    background-color: lightgray;

}
                        /*down blocks*/






                 